/*Wide*/

@media screen and (min-width: 480px) {
    .navigation-narrow {
        display: none
    }
    ul {
        display: flex;
        justify-content: flex-end;
    }
    .navigation-wide li {
        list-style-type: none;
        white-space: nowrap;
        padding: 2.5%;
        font-weight: bold;
    }
    .navigation-wide a {
        margin: 3%;
    }
    .navigation-wide a li {
        color: #0D0D0D;
    }
    .logo {
        height: 150px;
        width: 150px;
        font-size: xx-large;
    }
    .logo img {
        transition: all 0.5s;
    }
    .logo img:hover {
        height: 120%;
    }
    .logo a {
        text-decoration: none;
    }
    .section {
        padding: 5vh 15vw 20vh 15vw;
    }
    /* #carouselExampleIndicators {
        top: 8%
    } */
    .divBtnContact {
        bottom: 10vh;
    }
    .carousel-slider {
        height: 90vh
    }
    .useCasesSection {
        display: flex;
        flex-direction: column;
    }
    .headerSection {
        margin: 0 15vw 0 15vw;
        color: #0D0D0D;
        background-color: #EFEFEF;
        text-align: justify
    }
    .servicesSection {
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        /* height: 100vh; */
        /* scroll-snap-align: center; */
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        min-height: 100vh;
    }
    .service {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 25vw;
        height: 25vw;
    }
    /* Overlay */
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    *, *:before, *:after {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* body{
      background: #f9f9f9;
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
    } */
    .main-title {
        color: #2d2d2d;
        text-align: center;
        text-transform: capitalize;
        padding: 0.7em 0;
    }
    .container {
        padding: 1em 0;
        float: left;
        width: 50%;
    }
    @media screen and (max-width: 640px) {
        .container {
            display: block;
            width: 100%;
        }
    }
    @media screen and (min-width: 900px) {
        .container {
            width: 33.33333%;
        }
    }
    #mainDesc {
        padding-left: 10%;
        padding-top: 5%;
        padding-right: 10%;
        font-size: 20px;
    }
    .homeService {
        cursor: pointer;
    }
    .homeService img, h4 {
        transition: all 0.5s ease-in-out;
        height: 100%;
        cursor: pointer;
    }
    .homeService p {
        transition: all 1s;
        cursor: pointer;
    }
    .homeService .link {
        text-decoration: underline;
        cursor: pointer;
    }
    .homeService img.hover {
        width: 0;
        cursor: pointer;
    }
    .homeService h4.hover {
        font-size: 0;
        cursor: pointer;
    }
    .homeService a {
        /* top: 15%; */
        position: relative;
        cursor: pointer;
    }
    .homeService p {
        opacity: 0;
        color: #fff;
        text-align: center;
        top: -55%;
        position: relative;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    .homeService p.hover {
        opacity: 1;
        cursor: pointer;
    }
    .musicFeaturedSection img, .videoFeaturedSection img {
        height: 269.797px !important;
    }
    .foundersSection img, .content-overlay {
        width: 20vw;
        height: 20vw;
    }
    .video-infographics {
        display: flex;
        flex-direction: row;
    }
    .video-infographics-1 {
        display: flex;
    }
    .videoProcess {
        flex-direction: row;
    }
    .process-step {
        width: 20%;
    }
    .portfolio iframe {
        height: 60vh;
        width: 60vw;
    }
    .svg-item {
        width: 40%;
    }
}