/*Wide*/

@media screen and (min-width: 767px) {
    h2 {
        margin-left: 15%;
        font-size: 60px;
    }
    #hello {
        /* margin-top: 3%; */
        margin-top: 100vh;
        /* background-color: #d61b1e */
    }
    .service a {
        height: 25vw;
    }
    .video {
        /* background-color: #3b5998; */
        background-image: linear-gradient(to right, #8E0E00, #1F1C18)
    }
    .music {
        /* background-color: #d61b1e */
        background-image: linear-gradient(to right, #1F1C18, #8E0E00)
    }
    .event {
        /* background-color: #FF7514; */
        background-image: linear-gradient(to right, #1F1C18, #203A43, #2C5364)
    }
    .tech {
        /* background-color: #38908f; */
        background-image: linear-gradient(to right, #2C5364, #1F1C18)
    }
    .navigation-narrow {
        display: none
    }
    ul {
        display: flex;
        justify-content: flex-end;
    }
    .navigation-wide li {
        list-style-type: none;
        white-space: nowrap;
        padding: 2.5%;
        font-weight: bold;
    }
    .navigation-wide a {
        margin: 3%;
    }
    .navigation-wide a li {
        color: #0D0D0D;
    }
    .logo {
        height: 150px;
        width: 150px;
        font-size: xx-large;
    }
    .logo img {
        transition: all 0.3s;
    }
    .logo img:hover {
        transform: scale(1.2);
    }
    .logo a {
        text-decoration: none;
    }
    .section {
        padding: 5vh 15vw 5vh 15vw;
    }
    /* #carouselExampleIndicators {
        top: 8%
    } */
    .divBtnContact {
        bottom: 10vh;
    }
    .carousel-slider {
        height: 90vh
    }
    .useCasesSection {
        display: flex;
        flex-direction: column;
    }
    .headerSection {
        margin: 0 15vw 0 15vw;
        color: #0D0D0D;
        background-color: #EFEFEF;
        text-align: justify
    }
    .servicesSection {
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
        /* height: 100vh; */
        /* scroll-snap-align: center; */
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* min-height: 100vh; */
    }
    .service {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 25vw;
        height: 25vw;
    }
    /* Overlay */
    @import url(https://fonts.googleapis.com/css?family=Raleway);
    *, *:before, *:after {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* body{
      background: #f9f9f9;
      font-size: 16px;
      font-family: 'Raleway', sans-serif;
    } */
    .main-title {
        color: #2d2d2d;
        text-align: center;
        text-transform: capitalize;
        padding: 0.7em 0;
    }
    .container {
        padding: 1em 0;
        float: left;
        width: 50%;
    }
    @media screen and (max-width: 640px) {
        .container {
            display: block;
            width: 100%;
        }
    }
    @media screen and (min-width: 900px) {
        .container {
            width: 33.33333%;
        }
    }
    #mainDesc {
        padding-left: 10%;
        padding-top: 5%;
        padding-right: 10%;
        padding-bottom: 5%;
        font-size: 20px;
    }
    .homeService img, h4 {
        transition: all 0.5s ease-in-out;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .homeService p {
        transition: all 1s;
        cursor: pointer;
    }
    .homeService .link {
        text-decoration: underline;
        cursor: pointer;
    }
    .homeService img.hover {
        width: 0;
        cursor: pointer;
    }
    .homeService h4.hover {
        font-size: 0;
        cursor: pointer;
    }
    .homeService a {
        /* top: 15%; */
        position: relative;
        cursor: pointer;
    }
    .homeService p {
        opacity: 0;
        color: #fff;
        text-align: center;
        top: -55%;
        position: relative;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    .homeService p.hover {
        opacity: 1;
        cursor: pointer;
    }
    #worldMap img {
        margin-left: -10%;
    }
    .brand img {
        height: 20vh;
    }
    .musicFeaturedSection img, .videoFeaturedSection img {
        height: 269.797px !important;
    }
    .foundersSection img, .content-overlay {
        width: 20vw;
        height: 20vw;
    }
    .foundersSection .name {
        display: none;
    }
    .video-infographics {
        display: flex;
        flex-direction: row;
    }
    .video-infographics-1 {
        display: flex;
    }
    .videoProcess {
        flex-direction: row;
    }
    .process-step {
        width: 20%;
    }
    .portfolio iframe {
        height: 60vh;
        width: 60vw;
    }
    .svg-item {
        width: 40%;
    }
    .process {
        background-image: url(../images/mariam-soliman-xFD7GD2BP-s-unsplash.jpg);
        height: 75%;
    }
    .useCaseName {
        color: #fff;
        border: solid;
        border-color: #fff;
        border-width: 5px;
        font-size: 18px;
        font-weight: bold;
        padding: 1% 1%;
        margin: 1%;
        text-align: center;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        letter-spacing: 0.5px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .useCases {
        padding: 10vh 10vh 30vh 10vh;
    }
    #contactSection {
        margin-top: 10%
    }
}

@media screen and (min-width: 2400px) {
    .navbar-fixed-top-black {
        align-items: center;
    }
    .servicesSection {
        min-height: 70vh;
    }
    h2 {
        font-size: 100px;
    }
    #mainDesc {
        font-size: 30px;
    }
    .logo img {
        height: 150px;
    }
    .featuredSection, .musicFeaturedSection, .videoFeaturedSection {
        margin-left: 11%;
        margin-right: 11%;
    }
}