<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/c2af8c5fe9.js"></script>
    <link rel="stylesheet" href="../css/style.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="../js/bootstrap-swipe-carousel.min.js"></script>
    <script src="../js/script.js"></script>
</head>

<body>
    <!-- Content -->
    <div class="mainContainer">
        <nav id="navigation" class="navbar-fixed-top-black">
            <div class="logo">
                THE <br />
                WISE <br />
                BLEND
            </div>
            <ul class="navigation-wide">
                <a href="#hello">
                    <li>HOME</li>
                </a>
                <a>
                    <li>SERVICES</li>
                </a>
                <a>
                    <li>OUR WORK</li>
                </a>
                <a href="#contactSection">
                    <li>CONTACT</li>
                </a>
            </ul>
            <a class="navigation-narrow">&#9776;</a>
            <div class="mobileNavOverlay">
                <ul class="mobileNavOverlay-content">
                    <a>
                        <li>HOME</li>
                    </a>
                    <a>
                        <li>SERVICES</li>
                    </a>
                    <a>
                        <li>OUR WORK</li>
                    </a>
                    <a href="#contactSection">
                        <li>CONTACT</li>
                    </a>
                </ul>
            </div>

        </nav>
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide my-carousel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://picsum.photos/1920/1080/?random" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/1921/1080/?random" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/1922/1080/?random" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <div class="divBtnContact">
                <a href="/index.html#contactSection"><button class="btnContact">LET'S GET TALKING</button></a>
            </div>
        </div>

        <!-- {this.state.isMobileNavVisible && <MobileNav close={this.hideMobileNav} />} -->

        <!-- Hello -->
        <div id="hello" class="section">
            <h2>Music</h2>

            A small description about music services spanning 2-3 lines. A small description about music services
            spanning 2-3 lines. A small description about music services spanning 2-3 lines. A small description about
            music services spanning 2-3 lines. A small description about music services spanning 2-3 lines.
        </div>

        <!-- Service -->
        <div id="services" class="servicesSection">
            <div class="musicService video">
                <h4>PRODUCTION</h4>
            </div>
            <div class="musicService music">
                <h4>SONGWRTING / COMPOSITION</h4>
            </div>
            <div class="musicService event">
                <h4>VOCAL PRODUCTION</h4>
            </div>
            <div class="musicService tech">
                <h4>MIXING/MASTERING</h4>
            </div>
            <div class="musicService video">
                <h4>SOUND SUITES</h4>
            </div>
        </div>

        <!-- Process -->
        <div>
            <h2>Our Process</h2>
            <div class="process">
                <div class="process-step">
                    <div class="circle">
                        <span>1</span>
                    </div>
                    <div class="process-desc">
                        <h5>CREATIVE DISCUSSION</h5>
                        <p>To start things off, we will connect over email, Skype or phone to discuss the needs of your
                            project. This will require you to give me a description of what your vision is for your
                            song.
                        </p>
                    </div>
                </div>
                <div class="process-step">
                    <div class="circle">
                        <span>2</span>
                    </div>
                    <div class="process-desc">
                        <h5>FILE DELIVERY</h5>
                        <p>
                            You'll need to upload all the required audio files using a file transfer delivery service
                            such as WeTransfer. This will typically consist of audio stems or project files. For a more
                            detailed explanation, please click below.
                        </p>
                    </div>
                </div>
                <div class="process-step">
                    <div class="circle">
                        <span>3</span>
                    </div>
                    <div class="process-desc">
                        <h5>PRODUCTION / MIX</h5>
                        <p>
                            After receiving all the contents, I'll begin my creative process. The delivery time will
                            vary
                            depending on the work being done. We will discuss deadlines from the very beginning to
                            ensure maximum clarity.
                        </p>
                    </div>
                </div>
                <div class="process-step">
                    <div class="circle">
                        <span>4</span>
                    </div>
                    <div class="process-desc">
                        <h5>REVISIONS</h5>
                        <p>
                            I would recommend all clients to give detailed feedback after careful analysis so we can
                            have effective revisions. I do not charge extra for revisions. I work until you are
                            completely satisfied with your product.
                        </p>
                    </div>
                </div>
                <div class="process-step">
                    <div class="circle">
                        <span>5</span>
                    </div>
                    <div class="process-desc">
                        <h5>APPROVAL</h5>
                        <p>
                            Once approved I'll deliver you the necessary files. I'll also deliver any other data to
                            satisfy artist or brand requirements such as individual stems, project files, etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section useCasesSection">
            <h2>Use Cases</h2>
            <!-- <svg id="useCases" height="700" width="700"></svg> -->
            <div class='useCase'>
                <p class="useCaseName">PRODUCTION</p>
                <p class="useCaseDesc">something about production</p>
            </div>
            <div class='useCase userCaseEven'>
                <p class="useCaseName">SONGWRITING/COMPOSITION</p>
                <p class="useCaseDesc">something about songwriting/composition</p>
            </div>
            <div class='useCase'>
                <p class="useCaseName">VOCAL PRODUCTION</p>
                <p class="useCaseDesc">something about vocal production</p>
            </div>
            <div class='useCase'>
                <p class="useCaseName">MIXING/MASTERING</p>
                <p class="useCaseDesc">something about mixing/mastering</p>
            </div>
            <div class='useCase'>
                <p class="useCaseName">SOUND SUITES</p>
                <p class="useCaseDesc">something about sound suites</p>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="social-media-icons">
                <ul class="list-inline col-xs-12">
                    <a href="#"><i class="fa fa-google-plus-square fa-5x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-5x"></i></a>
                    <a href="#"><i class="fa fa-youtube-square fa-5x"></i></a>
                    <a href="#"><i class="fa fa-rss-square fa-5x"></i></a>
                </ul>
            </div>
        </div>
    </div>
</body>

<div class="divVideo">
    <iframe title="video" id="video-1" width="560" height="315" src="abc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="allowfullscreen" seamless=""></iframe>
    <span href="#" id="videoClose" onClick={props.close}>X</span>
</div>

</html>